@define-color foreground #EEFFFF;
@define-color background #0F111A;
@define-color cursor #EEFFFF;

@define-color color0 #263238;
@define-color color1 #dc6068;
@define-color color2 #abcf76;
@define-color color3 #e6b455;
@define-color color4 #6e98eb;
@define-color color5 #b480d6;
@define-color color6 #71c6e7;
@define-color color7 #EEFFFF;
@define-color color8 #546E7A;
@define-color color9 #F07178;
@define-color color10 #C3E88D;
@define-color color11 #FFCB6B;
@define-color color12 #82AAFF;
@define-color color13 #C792EA;
@define-color color14 #89DDFF;
@define-color color15 #FFFFFF;
